@import "tailwindcss";

@theme {
    --color-primary: #211a1d;
    /* --color-secondary: #f87171; */
    --color-hover: rgba(0, 0, 0, 0.3);

    --font-primary: "Hando";

    --default-font-family: "Hando", sans-serif;
}
